body {
  background-color: #383838;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
  gap: 0px;               
}
/*
input[type=text], input[type=email], input[type=password], input[type=number] {
  padding: 2%;
  border-radius: 14px;
  border: none;
  width: 30%;
  font-size: 1rem;
}
input[type=submit] {
  padding: 1% 2%;
  border-radius: 1%;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}*/
input.valido{
    border-color: #36cc36;
}
input.invalido{
    border-color: rgb(255, 0, 0);
}
h1{
    font-weight: normal;
    margin: 20px auto;
    text-align: center;
}
form{
    width: 500px;
    margin: 20px auto;
}
input{
    display: block;
    padding: 8px 16px;
    font-size: 2em;
    margin: 10px auto;
    width: 40%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #ccc;
    outline: none !important;
}

/* Estilos de validación */

input.valido{
    border-color: #36cc36;
}
input.invalido{
    border-color: orange;
}
input + p{
    font-family: arial;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
    color: orange;
    opacity: 0;
    height: 0;
}
input.invalido + p{
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}
/*
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.hidden {
  display: none !important;
}
.modal-content {
  background: #1e1e1e;
  color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: relative;
  animation: fadeUp 0.4s ease-out;
}

#closeBtn {
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 1.5rem;
  cursor: pointer;
}
*/